@import 'font-awesome/css/font-awesome.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-button {
    background-color: #3490dc;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #51bd27;
}

.input-field {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

.label-field {
    @apply block text-sm font-medium text-gray-700 dark:text-white;
}